.bgimg {
    background-image: url("images/bgimg.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;
    background-attachment: fixed;
    position: absolute;
    width: 100vw;
}

header {
    background-color: darkslateblue;
    height: 80px;
    width: 100%;
    position: fixed;
    z-index: 1;
}

header ul {
    position: absolute;
    right: 5vw;
    line-height: 80px;
}

header li {
    font-family: "Quattrocento", serif;
    display: inline;
    color:lavender;
    margin-right: 6vw;
    font-size: 13pt;

}

header a:hover {
    text-decoration: underline;
    color: white;
}

h1 {
    font-family: "Quattrocento", serif;
    font-size: 30pt;
    color: lavender;
    position: absolute;
    left: 9vw;
    line-height: 80px;
}

h2 {
    font-family: "Quattrocento", serif;
    font-size: 23pt;
    color: lavender;
}

p{
    font-size: 12pt;
    font-family: "Red Hat Text", sans-serif;
    color: lavender;
}

.intro {
    margin: 120px 7vw 40px 7vw;
    padding: 3vw;
    background-color: rgba(72, 61, 139, 0.67);
    border-radius: 40px;
}

.bottle {
    display: flex;
    justify-content: space-between;
    padding: 0 2vw 3vw 2vw;
    margin: 40px 7vw 40px 7vw;
    font-family: sans-serif;
    font-size: small;
    background-color: rgba(25, 25, 112, 0.67);
    border-radius: 40px;
}

.bottle p {
    padding: 0 1vw;
    font-size: 10pt;
    font-family: "Red Hat Text", sans-serif;
    color: lavender;
}
.bottle div {
    width: 70vw;
    text-align: center;
}

.bottle img {
    width: 70%;
}

h3 {
    font-size: 12pt;
    font-family: "Red Hat Text", sans-serif;
    color: lavender;
}

.bottle p {
    text-align: center;
}

.bottle a {
    text-decoration: underline;
}

.bottle a:hover {
    color: white;
}

.approaches {
    padding: 3vw;
    background-color: rgba(72, 61, 139, 0.67);
    border-radius: 40px;
    margin: 40px 7vw;
}
.approaches li {
    font-family: "Red Hat Text", sans-serif;
    color: lavender;
 }

.approaches li::before {
    content: "\27AB";
 }

.stats {
    padding: 3vw;
    margin: 40px 7vw;
    font-family: sans-serif;
    font-size: small;
    background-color: rgba(25, 25, 112, 0.67);
    border-radius: 40px;
 }

.stats th, td {
    border: 0.5px solid rgba(248, 248, 255, 1);
    height: 30px;
    vertical-align: middle;
 }

.stats table {
    border: 0.5px solid rgba(248, 248, 255, 1);
    width: 80vw;
    text-align: center;
    font-family: sans-serif;
    font-size: small;
    table-layout: fixed;
    font-size: 10pt;
    font-family: "Red Hat Text", sans-serif;
    color: lavender;
 }

.ref {
    margin: 40px 7vw;
    padding: 3vw;
    background-color: rgba(72, 61, 139, 0.67);
    border-radius: 40px;
}

.button {
    margin: 50px 7vw;
}

.button table {
    text-align: center;
    color: lavender;
    font-family: "Red Hat Text", sans-serif;
    border-radius: 10px;
    width: 86vw;
    height: 45px;
}

.button th {
    vertical-align: middle;
}

.button th:nth-child(1) {
    width: 7vw;
}

.button th:nth-child(3) {
    width: 6vw;
}

.button th:nth-child(5) {
    width: 7vw;
}

.button th:nth-child(even) {
    background-color: rgba(25, 25, 112, 0.67);
    border-radius: 20px;
    width: 31vw;
}

.button table a:hover {
    text-decoration: underline;
    color: white;
}