@font-face {
    font-family: Optima;
    src: url(/fonts/Optima.ttc)
}

body {
    background-color: black;
}

.block {
    background-color: #0c239c;
    height: 90px;
    width: 100%;
    z-index: 1;
    position: fixed;
    top: 0px;
}

header {
    background-color: black;
    height:80px;
    width: 94%;
    margin: 0 3vw;
    position: fixed;
    top: 40px;
    z-index: 2;
    box-shadow: 0px 0px 25px rgba(0, 45, 203, 0.5);
    border-radius: 0px;
}

.banner {
    display: flex;
    justify-content: center;
    justify-items: center;
    height: 600px;
    background-image: url(images/banner.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;
}

.circle {
    margin-top: 147px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: #94c5cc 0px solid;
    overflow: hidden;
    user-select: none;
    width: 420px;
    height: 420px;
    border-radius: 50%;
    text-transform: uppercase;
    text-align: center;
    animation: spin 20s linear infinite;
    z-index: 0;
    font-family: "Optima", serif;
    color: #0c239c;
    font-size: 30pt;
    font-weight: bold;
    text-shadow: 2px 2px 5px rgba(154, 174, 213, 0.7);
}

.circle span {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

@keyframes spin {
    0%{
        transform: rotate(360deg);
    }
    100%{
        transform: rotate(0deg);
    }
}

h1 {
    color: #9aaed5;
    font-family: "Optima", sans-serif;
    font-size: 25pt;
    position: absolute;
    left: 9vw;
    line-height: 80px;
}

header li {
    display: inline;
    color: #9aaed5;
    margin-right: 2vw;
    font-family: "Optima", sans-serif;
    font-size: 11pt;
}

header ul {
    position: absolute;
    top: 17px;
    right: 5vw;
    vertical-align: middle;
}

.dropdown button,
header li button {
    padding: 15px;
    border: none;
    cursor: pointer;
}

.dropdown button:hover,
.dropdown button:focus,
header li button:hover {
    background-color: rgba(0, 45, 203, 0.8);
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: black;
    min-width: 226px;
    z-index: 1;
    box-shadow: 0px 0px 25px rgba(0, 45, 203, 0.5);
}

.dropdown-content a {
    padding: 12px 16px;
    display: block;
    text-decoration: none;
}

.dropdown-content a:hover {
    background-color: rgba(0, 45, 203, 0.8);
}

.show {display:block;}

h3 {
    font-family: "Optima", sans-serif;
    font-size: 20pt;
    color: #9aaed5;
}

p,
.intro li {
    font-family: "Optima", sans-serif;
    font-size: 11pt;
    line-height: 20px;
    color:#9aaed5;
}

.intro {
    margin: 0px 7vw 40px 7vw;
    padding: 2vw 2vw 3vw 2vw;
    background-color: rgba(0, 45, 203, 0.8);
    border-radius: 0 40px;
}

.intro li::before {
    content: "\2731";
}

.textbox {
    margin: 50px 7vw ;
    padding: 2vw 2vw 3vw 2vw;
    background-color: rgba(0, 45, 203, 0.8);
    border-radius: 0 40px;
}

.textbox th {
    border: 0px black solid;
    color: white;
    font-size: 9pt;
    font-family: "Optima", sans-serif;
    text-align: center;
}

.textbox th:nth-child(odd) {
    background-color: #9aaed5;
}

.tue th:nth-child(1) {
    width: 25.625vw;
}

.tue th:nth-child(2) {
    width: 5.125vw;
}

.tue th:nth-child(3) {
    width: 10.819vw;
}

.tue th:nth-child(4) {
    width: 2.278vw;
}

.tue th:nth-child(5) {
    width: 21.639vw;
}

.tue th:nth-child(6) {
    width: 6.264vw;
}

.tue th:nth-child(7) {
    width: 10.25vw;
}

.wed th:nth-child(1) {
    width: 25.625vw;
}

.wed th:nth-child(2) {
    width: 8.542vw;
}

.wed th:nth-child(3) {
    width: 5.69vw;
}

.wed th:nth-child(4) {
    width: 1.139vw;
}

.wed th:nth-child(5) {
    width: 11.389vw;
}

.wed th:nth-child(6) {
    width: 2.847vw;
}

.wed th:nth-child(7) {
    width: 7.972vw;
}

.wed th:nth-child(8) {
    width: 1.708vw;
}

.wed th:nth-child(9) {
    width: 17.083vw;
}

.thu th:nth-child(1) {
    width: 39.292vw;
}

.thu th:nth-child(2) {
    width: 2.847vw;
}

.thu th:nth-child(3) {
    width: 19.361vw;
}

.thu th:nth-child(4) {
    width: 1.708vw;
}

.thu th:nth-child(5) {
    width: 18.792vw;
}

.fri th:nth-child(1) {
    width: 25.625vw;
}

.fri th:nth-child(2) {
    width: 19.361vw;
}

.fri th:nth-child(3) {
    width: 5.125vw;
}

.fri th:nth-child(4) {
    width: 7.403vw;
}

.fri th:nth-child(5) {
    width: 18.792vw;
}

.fri th:nth-child(6) {
    width: 1.708vw;
}

.fri th:nth-child(7) {
    width: 3.986vw;
}

.sat th:nth-child(1) {
    width: 43.847vw;
}

.sat th:nth-child(2) {
    width: 2.278vw;
}

.sat th:nth-child(3) {
    width: 9.111vw;
}

.sat th:nth-child(4) {
    width: 2.278vw;
}

.sat th:nth-child(5) {
    width: 3.986vw;
}

.sat th:nth-child(6) {
    width: 1.708vw;
}

.sat th:nth-child(7) {
    width: 18.792vw;
}

.sun th:nth-child(1) {
    width: 44.986vw;
}

.sun th:nth-child(2) {
    width: 3.417vw;
}

.sun th:nth-child(3) {
    width: 13.097vw;
}

.sun th:nth-child(4) {
    width: 5.125vw;
}

.sun th:nth-child(5) {
    width: 15.375vw;
}

.mon th:nth-child(1) {
    width: 25.625vw;
}

.mon th:nth-child(2) {
    width: 17.083vw;
}

.mon th:nth-child(3) {
    width: 17.653vw;
}

.mon th:nth-child(4) {
    width: 2.847vw;
}

.mon th:nth-child(5) {
    width: 18.792vw;
}

.img-container {
    display: flex;
    justify-content: center;
    justify-items: center;
}

.img-container img {
    width: 62vw;
}

.button {
    margin: 50px 7vw;
}

.button table, tr, th {
    border: 0px black solid;
    width: 86vw;
    height: 45px;
    vertical-align: middle;
}


.button table {
    text-align: center;
    color: #9aaed5;
    border-radius: 10px;
    font-family: "Optima", sans-serif;
}

.button th:nth-child(1) {
    width: 7vw;
}

.button th:nth-child(3) {
    width: 6vw;
}

.button th:nth-child(5) {
    width: 7vw;
}

.button th:nth-child(even) {
    background-color: rgba(0, 45, 203, 0.8);
    border-radius: 20px;
    width: 31vw;
}

.button table a:hover {
    color: white;
}

.button th:nth-child(2):hover,
.button th:nth-child(4):hover {
    background-color: #002dcb;
}

@media (max-width: 400px) {
    p{
        font-size: 8pt;
    }
    
    .stats li, table, th, tr {
        font-size: 10pt;
    }

    h3 {
        font-size: 12pt;
    }

    h2 {
        font-size: 30pt;
    }

    h1 {
        font-size: 15pt;
    }

    header li {
        margin-right: 0vw;
    }

    .circle {
        width: 40vw;
        height: 40vw;
    }

    .img-container img {
        width: 72vw;
    }
}