body {
    background-color: oldlace;
}

header {
    height:80px;
    width: 100%;
    z-index: 2;
    align-items: center;
    text-align: center;
}

header li {
    display: inline;
    color: black;
    margin: 0 8vw;
    font-family: "Optima", sans-serif;
    font-size: 11pt;
    vertical-align: middle;
}

.references {
    background-color: blanchedalmond;
    border: 2px black dotted;
    padding: 13px;
}

.homepage,
.about {
    background-color: blanchedalmond;
    border: none;
    padding: 15px;
    margin-top: 16px;
    cursor: pointer;
}

.dropdown button {
    background-color: blanchedalmond;
    border: none;
    padding: 15px;
    margin-top: 16px;
    cursor: pointer;
}

.dropdown button:hover,
.dropdown button:focus,
.homepage:hover,
.about:hover {
    background-color: blanchedalmond;
    border: 2px black dotted;
    padding: 13px;
}

.references:hover {
    background-color: blanchedalmond;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: oldlace;
    min-width: 226px;
    z-index: 1;
    text-align: left;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
}

.dropdown-content a {
    padding: 12px 16px;
    display: block;
    text-decoration: none;
}

.dropdown-content a:hover {
    background-color: blanchedalmond;
    border: 2px black dotted;
    padding: 10px 14px;
}

.show {display:block;}

.h1-container {
    padding: 60px 0 75px 0;
}

h1 {
    font-family: "Optima", serif;
    font-size: 85pt;
    text-align: center;
    word-spacing: 25px;
    line-height: 95px;
    font-weight: bold;
}

.h1-2 {
    animation: h1-2 3s 1;
}

@keyframes h1-2 {
    0%{
        color: oldlace;
        letter-spacing: 80px;
    }
    30%{
        color: oldlace;
        letter-spacing: 25px;
    }
    80%{
        letter-spacing: 8px;
    }
}

.h1-1 {
    animation: h1-1 3s 1;
    position: relative;
}

@keyframes h1-1 {
    0%{
        color: oldlace;
        letter-spacing: 80px;
        top: 95px;
    }
    30%{
        color: oldlace;
        letter-spacing: 25px;
        top: 95px;
    }
    80%{
        letter-spacing: 8px;
        top: 0px;
    }
}

.h1-3 {
    animation: h1-3 3s 1;
    position: relative;
}

@keyframes h1-3 {
    0%{
        color: oldlace;
        letter-spacing: 80px;
        top: -95px;
    }
    30%{
        color: oldlace;
        letter-spacing: 25px;
        top: -95px;
    }
    80%{
        letter-spacing: 8px;
        top: 0px;
    }
}

table {
    width: 70vw;
    margin: 0 15vw 50px 15vw;
    font-family: "Optima", sans-serif;
    font-size: 11pt;
    color: black;
    line-height: 16pt;
    padding: 30px 0 60px 0;
    border-top: 1px black solid;
}

tr{
    height: 35px;
    vertical-align: middle;
}

td {
    border: 0px black solid;
    padding-top: 3px;
}

table a:hover {
    text-decoration: underline;
    background-color: blanchedalmond;
}

td:nth-child(1) {
    width: 20vw
}

td:nth-child(3) {
    text-align: right;
}

@media (max-width: 400px) {
    p, table, th, tr {
        font-size: 10pt;
    }

    h2 {
        font-size: 12pt;
    }

    h1 {
        font-size: 50pt;
    }
    table {
        width: 86vw;
        margin: 0 7vw 50px 7vw;
    }
}