@font-face {
    font-family: Optima;
    src: url(/fonts/Optima.ttc);
}

body {
    background-color: black;
}

.block {
    background-color: #262469;
    height: 90px;
    width: 100%;
    z-index: 1;
    position: fixed;
    top: 0px;
}

header {
    background-color: black;
    height:80px;
    width: 94%;
    margin: 0 3vw;
    position: fixed;
    top: 40px;
    z-index: 2;
    box-shadow: 0px 0px 45px rgba(24, 22, 84, 0.9);
    border-radius: 0px;
}

.banner {
    display: flex;
    justify-content: center;
    justify-items: center;
    height: 600px;
    background-image: url(images/header.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;
}

.circle {
    margin-top: 147px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: #94c5cc 0px solid;
    overflow: hidden;
    user-select: none;
    width: 420px;
    height: 420px;
    border-radius: 50%;
    text-transform: uppercase;
    text-align: center;
    animation: spin 20s linear infinite;
    z-index: 0;
    font-family: "Optima", serif;
    color: rgba(24, 22, 84, 1);
    font-size: 30pt;
    font-weight: bold;
    text-shadow: 2px 2px 5px rgba(223, 231, 250, 0.6);
}

.circle span {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

@keyframes spin {
    0%{
        transform: rotate(360deg);
    }
    100%{
        transform: rotate(0deg);
    }
}

h1 {
    color: #dfe7fa;
    font-family: "Optima", sans-serif;
    font-size: 25pt;
    position: absolute;
    left: 9vw;
    line-height: 80px;
}

p,
.reflection li {
    font-family: "Optima", sans-serif;
    font-size: 11pt;
    color: #dfe7fa;
    line-height: 17pt;
}

header li {
    display: inline;
    color: #dfe7fa;
    margin-right: 2vw;
    font-family: "Optima", sans-serif;
    font-size: 11pt;
}

header ul {
    position: absolute;
    top: 17px;
    right: 5vw;
    vertical-align: middle;
}

.dropdown button,
header li button {
    padding: 15px;
    border: none;
    cursor: pointer;
}

.dropdown button:hover,
.dropdown button:focus,
header li button:hover {
    background-color: rgba(24, 22, 84, 1);
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: black;
    min-width: 226px;
    z-index: 1;
    box-shadow: 0px 0px 25px rgba(24, 22, 84, 0.9);
}

.dropdown-content a {
    padding: 12px 16px;
    display: block;
    text-decoration: none;
}

.dropdown-content a:hover {
    background-color: rgba(24, 22, 84, 1);
}

.show {display:block;}

h3 {
    font-family: "Optima", sans-serif;
    font-size: 20pt;
    color: #dfe7fa;
}

.intro {
    margin: 0px 7vw 50px 7vw;
    padding: 2vw 2vw 3vw 2vw;
    background-color: #26246d;
    box-shadow: 15px 15px 20px rgba(24, 22, 84, 0.9);
    border-radius: 0 40px;
}

.intro a {
    text-decoration: underline;
}

.intro a:hover {
    background-color: #181654;
    padding: 2px 0;
}

.stats,
.reflection {
    margin: 50px 7vw;
    padding: 2vw 2vw 3vw 2vw;
    background-color: #262469;
    box-shadow: 15px 15px 20px rgba(24, 22, 84, 0.9);
    border-radius: 0 40px;
}

.table-box table, tr, td {
    color: #dfe7fa;
    border: white 0px solid;
}

.table-box tbody tr:nth-child(odd) {
    background-color: #181654;
}

.table-box tr:first-child {
    height: 100px;
}

.title:hover {
    background-color: #0f0d43;
}

.img-container1,
.img-container2 {
    display: flex;
    justify-content: center;
    justify-items: center;
}

.img-container1 img,
.img-container2 img {
    max-width: 700px;
}

.reflection li::before {
    content: "\2731";
}

.button {
    margin: 0px 7vw 40px 7vw;
}

.button table, th {
    width: 86vw;
    height: 45px;
    line-height: 45px;
    vertical-align: middle;
    text-align: center;
    color: #dfe7fa;
    font-size: 11pt;
    font-family: "Optima", sans-serif;
}

.button th:nth-child(1),
.button th:nth-child(5) {
    width: 7vw;
}

.button th:nth-child(3) {
    width: 6vw;
}

.button th:nth-child(2):hover,
.button th:nth-child(4):hover {
    background-color: #181654;
}

.button th:nth-child(even) {
    background-color: #26246d;
    box-shadow: 15px 15px 20px rgba(24, 22, 84, 0.9);
    border-radius: 20px;
    width: 31vw;
}

.button table a:hover {
    color: white;
}

@media (max-width: 400px) {
    p{
        font-size: 8pt;
    }
    
    .stats li, table, th, tr {
        font-size: 10pt;
    }

    h3 {
        font-size: 12pt;
    }

    h2 {
        font-size: 30pt;
    }

    h1 {
        font-size: 15pt;
    }

    header li {
        margin-right: 0vw;
    }

    .circle {
        width: 40vw;
        height: 40vw;
    }

    .img-container1 img,
    .img-container2 img {
        max-width: 88vw;
    }
}