@font-face {
    font-family: Optima;
    src: url(/fonts/Optima.ttc)
}

body {
    background-color: seashell;
}

.block {
    background-color: #f4b597;
    height: 90px;
    width: 100%;
    z-index: 1;
    position: fixed;
    top: 0px;
}

.banner {
    display: flex;
    justify-content: center;
    justify-items: center;
    height: 600px;
    background-image: url(images/banner.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;
}

.circle {
    margin-top: 147px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: #94c5cc 0px solid;
    overflow: hidden;
    user-select: none;
    width: 420px;
    height: 420px;
    border-radius: 50%;
    text-transform: uppercase;
    text-align: center;
    animation: spin 20s linear infinite;
    z-index: 0;
    font-family: "Optima", serif;
    color: #f4b597;
    font-size: 30pt;
    font-weight: bold;
    text-shadow: 2px 2px 5px rgba(255, 245, 238, 0.6);
}

.circle span {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

@keyframes spin {
    0%{
        transform: rotate(360deg);
    }
    100%{
        transform: rotate(0deg);
    }
}

h2 {
    font-family: "Optima", serif;
    color: #94c5cc;
    font-size: 50pt;
    text-shadow: 2px 2px rgba(66, 66, 59, 0.2);
}

h1 {
    color: black;
    font-family: "Optima", sans-serif;
    font-size: 25pt;
    position: absolute;
    left: 9vw;
    line-height: 80px;
}

header {
    background-color: seashell;
    height:80px;
    width: 94%;
    margin: 0 3vw;
    position: fixed;
    top: 40px;
    z-index: 2;
    box-shadow: 0px 0px 25px rgba(66, 66, 59, 0.7);
    border-radius: 0px;
}

header li {
    display: inline;
    color: #42423b;
    margin-right: 2vw;
    font-family: "Optima", sans-serif;
    font-size: 11pt;
}

header ul {
    position: absolute;
    top: 17px;
    right: 5vw;
    vertical-align: middle;
}

.dropdown button,
header li button {
    padding: 15px;
    border: none;
    cursor: pointer;
}

.dropdown button:hover,
.dropdown button:focus,
header li button:hover {
    background-color: #f4b597;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: seashell;
    min-width: 226px;
    z-index: 1;
    box-shadow: 0px 0px 25px rgba(66, 66, 59, 0.7);
}

.dropdown-content a {
    padding: 12px 16px;
    display: block;
    text-decoration: none;
}

.dropdown-content a:hover {
    background-color: #f4b597;
}

.show {display:block;}

p {
    font-family: "Optima", sans-serif;
    font-size: 11pt;
    line-height: 20px;
    color: black;
}

h3 {
    font-family: "Optima", sans-serif;
    font-size: 20pt;
    color: black;
}

h4 {
    font-family: "Optima", sans-serif;
    font-size: 15pt;
    color:black;
    text-align: justify;
    border-bottom: 1px dotted black;
    display: inline;
    font-size: larger;
}

.intro {
    margin: 0px 9vw 35px 0;
    padding: 3vw 5vw 4vw 10vw;
    background-color: rgba(255, 218, 185, 0.8);
    border-radius: 0 90px 90px 0;
}

.intro li::before {
    content: "\2731";
}

.log li::before {
    content: "\2731";
}

.log table, th, td {
    border: 0px solid black;
    vertical-align: middle;
    text-align: left;
}

.log table {
    width: 100vw;
}


.right th:nth-child(2) {
    background-color: rgba(255, 160, 122, 0.8);
    border-radius: 90px 0 0 90px;
    padding: 2vw 3vw;
}

.right th:nth-child(3),
.right th:nth-child(4) {
    background-color: rgba(255, 160, 122, 0.8);
}


.left th:nth-child(3) {
    background-color: rgba(255, 218, 185, 0.8);
    border-radius: 0 90px 90px 0;
    padding: 2vw;
}

.left th:nth-child(1),
.left th:nth-child(2) {
    background-color: rgba(255, 218, 185, 0.8);
}

.left tr:nth-child(2) {
    height: 5vh;
}

.log img {
    width: 28vw;
}

.left th:nth-child(2) {
    width: 28vw;
}

.left th:nth-child(3) {
    width: 56vw;
}

.right th:nth-child(2) {
    width: 56vw;
}

.right th:nth-child(3) {
    width: 28vw;
}

.right th:nth-child(1),
.right th:nth-child(4),
.left th:nth-child(1),
.left th:nth-child(4) {
    width: 7vw;
}

li {
    font-family: "Optima", sans-serif;
    font-size: 11pt;
    line-height: 20px;
    color: black;
}

.reflection {
    padding: 2vw 9vw;
    background-color: rgba(255, 160, 122, 0.8);
    margin: 0 0 0 9vw;
    padding: 3vw 10vw 3vw 5vw;
    border-radius: 90px 0 0 90px;
}

.reflection li::before {
    content: "\2731";
}

.button {
    margin: 60px 0;
}

.button table {
    text-align: center;
    color: black;
    font-family: "Optima", sans-serif;
    font-size: 11pt;
    padding: 20px 0;
    height: 45px;
    vertical-align: middle;
}

.button th {
    text-align: center;
}

.button th:nth-child(1) {
    width: 9vw;
}

.button th:nth-child(3) {
    width: 6vw;
}

.button th:nth-child(5) {
    width: 9vw;
}


.button th:nth-child(even) {
    background-color: rgba(255, 218, 185, 0.8);
    border-radius: 20px;
    width: 38vw;
}

.button th:nth-child(even):hover {
    background-color: #f4b597;
}

.button table a:hover {
    color: white;
}

@media (max-width: 400px) {
    p{
        font-size: 8pt;
    }
    
    .stats li, table, th, tr {
        font-size: 10pt;
    }

    h3 {
        font-size: 12pt;
    }

    h2 {
        font-size: 30pt;
    }

    h1 {
        font-size: 15pt;
    }

    header li {
        margin-right: 0vw;
    }

    .circle {
        width: 40vw;
        height: 40vw;
    }
}