body {
    background-color:ivory;
}

header {
    background-color: #BAC8A0;
    height:80px;
    width:100%;
    position: fixed;
    top:0;
    z-index: 1;
}

h1 {
    color:white;
    font-family: "Autour One", serif;
    font-size: 22pt;
    position:absolute;
    left: 9vw;
    line-height: 80px;
}

p {
    font-size: 12pt;
    font-family: "Red Hat Text", sans-serif;

}

header a:hover {
    text-decoration: underline;
    color: white;
}

header li {
    display: inline;
    color: white;
    margin-right: 4vw;
    font-family: "Autour One", serif;
    font-size: 10pt;
}

header ul {
    position:absolute;
    right: 5vw;
    line-height: 80px;
}

h2 {
    font-family: "Autour One", serif;
    font-size: 18pt;
    color: white;
}

.intro {
    margin: 120px 7vw 40px 7vw;
    padding: 2vw 2vw 3vw 2vw;
    background-color: #BAC8A0;
    border-radius: 0 40px;
    color: white;
}

.intro a {
    text-decoration: underline;
}

.stats,
.reflection {
    margin: 40px 7vw;
    padding: 2vw 2vw 3vw 2vw;
    background-color: #BAC8A0;
    border-radius: 0 40px;
    color: white;
}

.completion table {
    width: 81vw;
}

.cpmpletion tr, th {
    border: 1px solid ivory;
    height: 35px;
    font-size: 12pt;
    font-family: "Red Hat Text", sans-serif;
    line-height: 35px;
}

.completion th:first-child {
    padding-left: 2px;
}

.completion th:nth-child(2),
.completion th:nth-child(3),
.completion th:nth-child(4),
.completion th:nth-child(5),
.completion th:nth-child(6),
.completion th:nth-child(7),
.completion th:nth-child(8) {
    text-align: center;
}

.color {
    background-color: rgba(250, 250, 230, 0.4);
}

.img-container {
    display: flex;
    justify-content: center;
    justify-items: center;
}

.stats li {
    font-size: 12pt;
    font-family: "Red Hat Text", sans-serif;
}

.stats li::before {
    content: "\2731";
}

.button {
    margin: 0px 7vw 40px 7vw;
}

.button table {
    width: 86vw;
    height: 45px;
    line-height: 45px;
    vertical-align: middle;
    text-align: center;
    color: white;
    font-size: 12pt;
    font-family: "Red Hat Text", sans-serif;
}

.button th:nth-child(1) {
    width: 7vw;
}

.button th:nth-child(3) {
    width: 6vw;
}

.button th:nth-child(5) {
    width: 7vw;
}

.button th:nth-child(even) {
    background-color: #BAC8A0;
    border-radius: 20px;
    width: 31vw;
}

.button table a:hover {
    text-decoration: underline;
}

@media (max-width: 400px) {
    p, .stats li, table, th, tr {
        font-size: 10pt;
    }

    h2 {
        font-size: 12pt;
    }

    h1 {
        font-size: 15pt;
    }
}